* {
    text-decoration: none !important;
    outline: none !important;
}

.notion-collection__header,
.notion-property__title__icon-wrapper,
.notion-toggle {
    display: none !important;
}

.super-content {
    padding-bottom: 10vh !important;
}

.notion-navbar {
    background: rgba(255,255,255,0.6) !important;
    backdrop-filter: blur(20px) !important;
    height: 50px !important;
}

.max-width {
    max-width: 1200px !important;
}

.notion-header__icon {
    border-radius: 12px !important;
}

.notion-header__icon-wrapper.has-icon-image {
    margin: 11px 0 11px 0 !important;
}

h2 {
    line-height: 1.6 !important;
    margin-top: 0 !important;
}

p {
    font-size: 20px !important;
}

.notion-collection-gallery {
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 60px !important;
    border: none !important;
}

@media (max-width: 800px) {
  .notion-collection-gallery {
    grid-template-columns: 1fr !important;
  }
}

.notion-collection-card {
    transition: all .2s ease !important;
    box-shadow: none !important;
    opacity: 1 !important;
    background-color: #FCF7F5;
}

.notion-collection-card:hover {
    transform: scale(1.02) !important;
    background: none !important;
    opacity: 1 !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover div,
.notion-collection-card__cover img {
    border-radius: 12px !important;
    max-height: 360px !important;
    overflow: hidden !important;
    height: 360px !important;
    border: none !important;
}

.notion-image,
.notion-image img {
    border-radius: 12px !important;
}

.notion-property__title {
    color: var(--color-text-default) !important;
    padding: 12px 0 4px !important;
    font-size: 1.4em !important;
}

.notion-property__text {
    color: var(--color-text-default) !important;
    padding: 4px 0px 4px !important;
    font-size: 1em !important;
}

.notion-divider {
    border-bottom: 1px solid var(--color-bg-blue) !important;
}

#block-cd0c0e6db1af4a029716bf307f95bc3b a {
    font-size: 16px !important;
    position: fixed !important;
    z-index: 9999 !important;
    border: none !important;
    right: 20px !important;
    top: 13px !important;
}
:root {
  --color-text-default: #0C4966;
  --color-text-default-light: rgba(55,53,47,0.6);
  --color-text-gray: #9b9a97;
  --color-text-brown: #64473a;
  --color-text-orange: #d9730d;
  --color-text-yellow: #dfab01;
  --color-text-green: #0f7b6c;
  --color-text-blue: #0b6e99;
  --color-text-purple: #6940a5;
  --color-text-pink: #ad1a72;
  --color-text-red: #e03e3e;
  --color-bg-default: #FCF7F5;
  --color-bg-gray: #ebeced;
  --color-bg-brown: #e9e5e3;
  --color-bg-orange: #faebdd;
  --color-bg-yellow: #fbf3db;
  --color-bg-green: #ddedea;
  --color-bg-blue: #DDE5EA;
  --color-bg-purple: #eae4f2;
  --color-bg-pink: #f4dfeb;
  --color-bg-red: #fbe4e4;
  --color-bg-gray-light: rgba(235,236,237,0.3);
  --color-bg-brown-light: rgba(233,229,227,0.3);
  --color-bg-orange-light: rgba(250,235,221,0.3);
  --color-bg-yellow-light: rgba(251,243,219,0.3);
  --color-bg-green-light: rgba(221,237,234,0.3);
  --color-bg-blue-light: rgba(221,235,241,0.3);
  --color-bg-purple-light: rgba(234,228,242,0.3);
  --color-bg-pink-light: rgba(244,223,235,0.3);
  --color-bg-red-light: rgba(251,228,228,0.3);
  --color-pill-default: rgba(206,205,202,0.5);
  --color-pill-gray: hsla(45,2%,60%,0.4);
  --color-pill-brown: rgba(140,46,0,0.2);
  --color-pill-orange: rgba(245,93,0,0.2);
  --color-pill-yellow: rgba(233,168,0,0.2);
  --color-pill-green: rgba(0,135,107,0.2);
  --color-pill-blue: rgba(0,120,223,0.2);
    --color-pill-purple: rgba(103,36,222,0.2);
  --color-pill-pink: rgba(221,0,129,0.2);
  --color-pill-red: rgba(255,0,26,0.2);
  --color-ui-hover-bg: rgba(55,53,47,0.08);
}
.notion-link.super-navbar__item {
  font-size: 1.2em !important;
  font-weight: !important;
  font-family: Barlow, sans-serif;
}
.notion-header__title {
  font-family: Barlow;
}


